############################
# Frontend
############################
# Logs
/frontend/logs
/frontend/*.log
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*
/frontend/lerna-debug.log*

# Dependencies and builds
/frontend/node_modules/
/frontend/dist/
/frontend/dist-ssr

# Environment files
/frontend/.env
/frontend/*.local

# Editor directories and files
/frontend/.vscode/*
!/frontend/.vscode/extensions.json
/frontend/.idea
/frontend/.DS_Store
/frontend/*.suo
/frontend/*.ntvs*
/frontend/*.njsproj
/frontend/*.sln
/frontend/*.sw?

############################
# Backend
############################
/backend/vendor/
/backend/.env
/backend/*.log
/backend/.DS_Store
/backend/storage/
/backend/db/*.db